.table {
  h4 {
    padding: 15px;
    color: #5a83ac;
  }
  border: solid 1px  #5a83ac;
  height: 500px;
}

.icon {
  width: 20px !important;
  height: 20px !important;
}

.increase_block {
  background-color: #eefcf7;
  border-radius: 3px;
  color: #33b27c;
  border: 1px solid #33b27c;
}
.decrease_block {
  background-color: #ffedec;
  border-radius: 3px;
  color: #e87d8a;
  border: 1px solid #ea8894;
}
.const_block {
  background-color: #b4c7db;
  border-radius: 3px;
  color: #8aa8c6;
  border: 1px solid #8aa8c6;
}

.increase {
  color: #33b27c;
}

.decrease {
  color: #e87d8a;
}

.mat-header-cell {
  color: #8c9398;
  font-weight: 600;
}

.mat-column-wide {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
}

.table__add {
  display: flex;
  justify-content: flex-end;
  padding: 10px 8px 0;
}

.table__action-button {
  background: transparent;
  border-radius: 50%;
  height: 40px;
  padding: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus{
  }
  &:hover{
    background: transparent;
  }
  &:focus, &:hover{
  }
}

.table-update {
  padding: 1rem 2rem;

  .table-update__header {
    h5 {
      border-bottom: 1px solid #5a83ac;
      color: #5a83ac;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
    }

    margin-bottom: 2rem;
  }
}

.table-update__footer {
  button {
    width: 100%;
  }
}


